

.mg-top-lg {
  margin-top: 6rem;
}

.mg-top-md {
  margin-top: 3rem;
}

.mg-top-sm {
  margin-top: 1.5rem;
}

.mg-right-xs {
  margin-right: 1rem;
}

.mg-bottom-lg {
  margin-bottom: 6rem;
}

.mg-bottom-md {
  margin-bottom: 3rem;
}
